.displayBar {
    display: flex;
    flex-direction: row;
}
.menuItem {
    flex: auto;
}
.timer {
    justify-content: left;
    text-align: left;
}
.score {
    justify-content: right;
    text-align: right;
}
