.Container {
    padding: 20px;
    padding-top: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}
.displayBar {
    display: flex;
    flex-direction: row;
}
.menuItem {
    flex: auto;
}
.timer {
    justify-content: left;
    text-align: left;
}
.score {
    justify-content: right;
    text-align: right;
}
