.Word {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.letterContainer {
    flex-flow: row wrap;
    flex: 1 1 auto;

    background: #539e5f;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-right: 20px;

    font-size: 20px;
    font-weight: bolder;
    color: white;
}
