.Header {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: fixed;
    padding: 10px 0;
    color: black;
    height: 80px;
}
.navBar {
    padding: 20px;
    width: 95%;
    display: flex;
    flex-direction: row;
}
.menuItem {
    flex: 1 1 0px;
    align-items: right;
}

.title {
    font-weight: bolder;
    font-size: 20px;
}
.navLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
