.login {
    display: inline-grid;
}
.loginInput {
    width: 300px;
}

.buttons {
    margin-top: 30px;
}

.buttons .MuiButton-roo {
    margin-top: 30px;
}
.error {
    margin-top: 20px;
    color: red;
    font-style: italic;
    font-size: 12px;
}
